@import "mixins";

.contact {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 150px;
  @media (max-width: 768px) {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  @media (max-width: 448px) {
    margin-top: 34px;
    margin-bottom: 34px;
  }

  &-title {
    @media (max-width: 768px) {
      font-size: 39px;
    }
    @media (max-width: 448px) {
      font-size: 34px;
    }
    @include title-text;
    margin: 0;
    text-align: left;
  }

  &-items {
    display: flex;
    gap: 64px;
    justify-content: space-between;
    margin-top: 24px;

    @media (max-width: 986px) {
      gap: 24px;
    }

    @media (max-width: 768px) {
      margin-top: 14px;
      padding-left: 24px;
      padding-right: 24px;
      flex-direction: column;
    }

    &__info {
      display: flex;
      flex-direction: column;
      @media (max-width: 986px) {
        justify-content: space-between;
      }

      &--details {
        border-radius: 20px;
        background: #ffffff;
        display: flex;
        margin-top: 24px;
        box-shadow: 0 3px 20px 0 rgba(8, 15, 52, 0.06);
        gap: 20px;
        padding: 32px;
        max-width: 380px;
        & > img {
          @media(max-width: 568px) {
            max-width: 60px;
          }
        }
        @media (max-width: 768px) {
          justify-self: center;
          align-self: center;
          padding: 22px;
          width: 100%;
        }
        @media (max-width: 568px) {
          flex-direction: column;
          align-items: center;
        }
        &:first-of-type {
          @media (max-width: 768px) {
            margin-top: 0;
          }
        }

        .details-info {
          display: flex;
          justify-content: center;
          gap: 6px;
          flex-direction: column;
          @media (max-width: 568px) {
            align-self: self-start;
          }

          & > span {
            font-size: 18px;
            @media (max-width: 448px) {
              font-size: 16px;
            }
          }

          & > strong {
            font-size: 20px;
            @media (max-width: 448px) {
              font-size: 14px;
            }
          }
        }
      }

      &--desc {
        @media (max-width: 768px) {
          font-size: 16px;
          line-height: 24px;
          margin-bottom: 0;
        }
        @media (max-width: 448px) {
          font-size: 14px;
          line-height: 24px;
          margin-bottom: 0;
        }
        @include main-text;

        &:first-of-type {
          margin-top: 0;
        }

        &:last-of-type {
          margin-bottom: 14px;
          margin-top: 12px;
        }
      }
    }

    &__email {
      display: flex;
      justify-content: center;
      border-radius: 20px;
      background: #fff;
      box-shadow: 0 3px 20px 0 rgba(8, 15, 52, 0.06);
      max-width: 592px;
      width: 100%;
      padding: 46px 52px;
      @media (max-width: 812px) {
        padding: 24px 22px;
      }
      @media (max-width: 768px) {
        align-self: center;
      }

      .form-email {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 24px;

        &__message {
          border-radius: 18px;
          background: #FFF;
          box-shadow: 0 3px 20px 0 rgba(8, 15, 52, 0.06);
          max-width: 594px;
          width: 100%;
          border: none;
          height: 182px;
        }

        &__button {
          border-radius: 12px;
          background: #5ACAED;
          padding: 20px 40px;
          border: none;
          color: var(--Neutral-100, #FFF);
          text-align: center;
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: 20px;
          max-width: 143px;
          @media (max-width: 768px) {
            font-size: 16px;
            padding: 18px 34px;
          }
          @media (max-width: 568px) {
            font-size: 14px;
            padding: 14px 24px;
            max-width: 120px;
          }
        }

        &__box {
          display: flex;
          gap: 22px;

          @media(max-width: 986px) {
            flex-direction: column;
          }

          &--name {
            @include field-settings;
            background-position: 92% center;
            background-size: 20px;
            @media (max-width: 768px) {
              background-size: 18px;
            }
            @media (max-width: 448px) {
              background-size: 16px;
            }
            @media(max-width: 986px) {
             max-width: 100%;
              width: auto;
            }
            background-repeat: no-repeat;
            &::placeholder {
              @include field-placeholder;
              @media (max-width: 768px) {
                font-size: 16px;
              }
              @media (max-width: 448px) {
                font-size: 14px;
              }
            }
          }

          &--email {
            @include field-settings;
            background-position: 92% center;
            background-size: 20px;
            background-repeat: no-repeat;
            @media(max-width: 986px) {
             max-width: 100%;
              width: auto;
            }
            @media (max-width: 768px) {
             background-size: 18px;
            }
            @media (max-width: 448px) {
             background-size: 16px;
            }
            &::placeholder {
              @include field-placeholder;
              @media (max-width: 768px) {
                font-size: 16px;
              }
              @media (max-width: 448px) {
                font-size: 14px;
              }
            }
          }
        }
      }

    }
  }
}
