.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 120px;
  @media (max-width: 1080px) {
    padding: 18px 24px;
    align-items: flex-start;
  }


  @media (max-width: 768px) {
    padding: 18px 24px 0 24px;
    align-items: flex-start;
    display: none;
  }

  &-lg {
    display: flex;
    gap: 12px;
  }

  &-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

    &__logo {
      max-width: 210px;
      width: 100%;
      @media (max-width: 300px) {
        max-width: 200px;
      }
    }

    &__links {
      display: flex;
      justify-content: space-between;
      max-width: 640px;
      width: 100%;

      @media (max-width: 768px) {
        flex-direction: column;
      }

      &--item {
        list-style-type: none;

        & > span {
          @include list-menu;
          cursor: pointer;
          color: #000000;
        }

        &-link {
          @include list-menu;
          text-decoration: none;
          color: #000000;
        }

        &-ul {
          width: 245px;
          height: 103px;
          position: absolute;
          top: 24px;
          left: -64px;
          background-color: white;
          box-shadow: 2px 2px 4px 2px rgba(230, 233, 234, 0.35);
          display: none;

          @media (max-width: 768px) {
            top: 39px;
            left: 0;
          }

          .link-item {
            list-style-type: none;
            position: relative;

            &::before {
              content: "";
              display: block;
              background: black;
              border-radius: 50%;
              width: 4px;
              height: 4px;
              position: absolute;
              left: -10px;
              top: 10px;

              @media (max-width: 768px) {
                top: 24px;
              }
            }

            &__link {
              @include list-menu;
              text-decoration: none;
              list-style-type: circle;
              color: #000000;
            }
          }
        }
      }
    }
  }
}

.menu {
  position: relative;
  cursor: pointer;

  &:hover > .nav-menu__links--item-ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
  }
}


.navigation {
  position: relative;
  padding-top: 24px;
  @media (min-width: 768px) {
    display: none;
  }

  @media (max-width: 568px) {
    padding-right: 14px;
  }
}

#menuToggle {
  display: block;
  position: relative;
  top: -30px;
  left: 50px;
  width: max-content;
  z-index: 1;
  user-select: none;
  @media (min-width: 768px) {
    display: none;
  }

  @media (max-width: 460px) {
    left: 24px;
  }
}

#menuToggle a {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}


#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle .elements {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
  background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
  opacity 0.55s ease;

  @media (max-width: 568px) {
    width: 24px;
    height: 2px;
  }
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  @media (max-width: 380px) {
    padding-right: 0;
    max-width: 254px;
  }
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none;
}


.mobile {
  @media (min-width: 768px) {
    display: none;
  }

  @media (max-width: 368px) {
    display: flex;
    align-items: end;
  }
}
