/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button,
[type=button],
[type=reset],
[type=submit] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
  /**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  color: inherit; /* 2 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 150px;
}
.contact-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0;
  text-align: center;
  margin: 0;
  text-align: left;
}
.contact-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 64px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 24px;
}
.contact-items__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact-items__info--details {
  border-radius: 20px;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
  -webkit-box-shadow: 0 3px 20px 0 rgba(8, 15, 52, 0.06);
          box-shadow: 0 3px 20px 0 rgba(8, 15, 52, 0.06);
  gap: 20px;
  padding: 32px;
  max-width: 380px;
}
.contact-items__info--details .details-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 6px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact-items__info--details .details-info > span {
  font-size: 18px;
}
.contact-items__info--details .details-info > strong {
  font-size: 20px;
}
.contact-items__info--desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  color: #000000;
}
.contact-items__info--desc:first-of-type {
  margin-top: 0;
}
.contact-items__info--desc:last-of-type {
  margin-bottom: 14px;
  margin-top: 12px;
}
.contact-items__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
  background: #fff;
  -webkit-box-shadow: 0 3px 20px 0 rgba(8, 15, 52, 0.06);
          box-shadow: 0 3px 20px 0 rgba(8, 15, 52, 0.06);
  max-width: 592px;
  width: 100%;
  padding: 46px 52px;
}
.contact-items__email .form-email {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
}
.contact-items__email .form-email__message {
  border-radius: 18px;
  background: #FFF;
  -webkit-box-shadow: 0 3px 20px 0 rgba(8, 15, 52, 0.06);
          box-shadow: 0 3px 20px 0 rgba(8, 15, 52, 0.06);
  max-width: 594px;
  width: 100%;
  border: none;
  height: 182px;
}
.contact-items__email .form-email__button {
  border-radius: 12px;
  background: #5ACAED;
  padding: 20px 40px;
  border: none;
  color: var(--Neutral-100, #FFF);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  max-width: 143px;
}
.contact-items__email .form-email__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 22px;
}
.contact-items__email .form-email__box--name {
  border-radius: 18px;
  -webkit-box-shadow: 0 3px 20px 0 rgba(8, 15, 52, 0.06);
          box-shadow: 0 3px 20px 0 rgba(8, 15, 52, 0.06);
  max-width: 286px;
  width: 100%;
  border: none;
  padding: 24px 22px;
  background-position: 92% center;
  background-size: 20px;
  background-repeat: no-repeat;
}
.contact-items__email .form-email__box--name::-webkit-input-placeholder {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.contact-items__email .form-email__box--name::-moz-placeholder {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.contact-items__email .form-email__box--name:-ms-input-placeholder {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.contact-items__email .form-email__box--name::-ms-input-placeholder {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.contact-items__email .form-email__box--name::placeholder {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.contact-items__email .form-email__box--email {
  border-radius: 18px;
  -webkit-box-shadow: 0 3px 20px 0 rgba(8, 15, 52, 0.06);
          box-shadow: 0 3px 20px 0 rgba(8, 15, 52, 0.06);
  max-width: 286px;
  width: 100%;
  border: none;
  padding: 24px 22px;
  background-position: 92% center;
  background-size: 20px;
  background-repeat: no-repeat;
}
.contact-items__email .form-email__box--email::-webkit-input-placeholder {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.contact-items__email .form-email__box--email::-moz-placeholder {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.contact-items__email .form-email__box--email:-ms-input-placeholder {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.contact-items__email .form-email__box--email::-ms-input-placeholder {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.contact-items__email .form-email__box--email::placeholder {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.assistance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left top, left bottom, from(#EEF8FE), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, #EEF8FE 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 24px;
  position: relative;
}
.assistance-box {
  display: grid;
  grid-row: auto;
  grid-gap: 290px;
  grid-template-columns: 1fr minmax(1000px, 1fr);
  justify-items: center;
}
.assistance-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 52px;
  justify-self: end;
  padding-right: 140px;
}
.assistance-info__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0;
  text-align: left;
  margin-top: 0;
  margin-bottom: 14px;
  color: #222223;
}
.assistance-info__title--br {
  color: #5ACAED;
}
.assistance-info__desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  color: #000000;
  text-align: left;
  margin-bottom: 20px;
}
.assistance-info__button {
  max-width: 175px;
  width: 100%;
  color: white;
  padding: 20px 40px 20px 40px;
  border-radius: 12px;
  background: #5ACAED;
  border: none;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  cursor: pointer;
}
.assistance-pics {
  padding-top: 52px;
  justify-self: end;
  z-index: 99;
}
.assistance-pics__image {
  max-width: 1000px;
  width: 100%;
}
.assistance-wallpapers {
  position: absolute;
  top: 68%;
  left: 0;
  width: 100%;
  z-index: 0;
}

.movies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.movies-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 0;
  color: #5ACAED;
}
.movies-desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  color: #000000;
  text-align: center;
  max-width: 591px;
}
.movies-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 996px;
  width: 100%;
  height: 500px;
  border-radius: 20px;
  -webkit-box-shadow: 0 3px 20px 0 rgba(8, 15, 52, 0.1490196078);
          box-shadow: 0 3px 20px 0 rgba(8, 15, 52, 0.1490196078);
  margin-top: 18px;
}

.mission {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  width: 100%;
  margin: 150px auto 0 auto;
  border-radius: 20px;
  -webkit-box-shadow: 0 3px 20px 0 rgba(8, 15, 52, 0.1490196078);
          box-shadow: 0 3px 20px 0 rgba(8, 15, 52, 0.1490196078);
}
.mission:nth-of-type(3) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-bottom: 150px;
}
.mission:nth-of-type(3) .mission-desc {
  padding: 74px 64px 64px 74px;
}
.mission-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 64px 27px 64px 74px;
}
.mission-desc__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0;
  text-align: center;
  margin: 0;
}
.mission-desc__title--braino {
  color: #5ACAED;
}
.mission-desc__desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  color: #000000;
  text-align: left;
  margin-bottom: 0;
}
.mission-desc__desc > span:first-of-type {
  display: block;
  margin-bottom: 39px;
}
.mission-image {
  max-width: 590px;
  width: 100%;
}

.braino {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}
.braino-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0;
  text-align: center;
  margin: 0;
}
.braino-title__name {
  color: #5ACAED;
}
.braino-desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  color: #000000;
  text-align: center;
  margin: 22px 0;
}
.braino-desc__desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  color: #000000;
  font-style: italic;
}
.braino-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}
.braino-card__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 52px 24px 50px 24px;
  background: #FFF;
  -webkit-box-shadow: 0 3px 20px 0 rgba(8, 15, 52, 0.15);
          box-shadow: 0 3px 20px 0 rgba(8, 15, 52, 0.15);
  max-width: 342px;
  width: 100%;
  margin-bottom: 150px;
}
.braino-card__item--title {
  color: rgba(34, 34, 35, 0.8);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  margin: 12px 0 0 0;
}
.braino-card__item--desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  color: #000000;
  margin: 0;
  margin-top: -6px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 120px;
}
.nav-lg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.nav-menu__logo {
  max-width: 210px;
  width: 100%;
}
.nav-menu__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 640px;
  width: 100%;
}
.nav-menu__links--item {
  list-style-type: none;
}
.nav-menu__links--item > span {
  font-family: Open Sans, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  cursor: pointer;
  color: #000000;
}
.nav-menu__links--item-link {
  font-family: Open Sans, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  text-decoration: none;
  color: #000000;
}
.nav-menu__links--item-ul {
  width: 245px;
  height: 103px;
  position: absolute;
  top: 24px;
  left: -64px;
  background-color: white;
  -webkit-box-shadow: 2px 2px 4px 2px rgba(230, 233, 234, 0.35);
          box-shadow: 2px 2px 4px 2px rgba(230, 233, 234, 0.35);
  display: none;
}
.nav-menu__links--item-ul .link-item {
  list-style-type: none;
  position: relative;
}
.nav-menu__links--item-ul .link-item::before {
  content: "";
  display: block;
  background: black;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  position: absolute;
  left: -10px;
  top: 10px;
}
.nav-menu__links--item-ul .link-item__link {
  font-family: Open Sans, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  text-decoration: none;
  list-style-type: circle;
  color: #000000;
}

.menu {
  position: relative;
  cursor: pointer;
}
.menu:hover > .nav-menu__links--item-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}

.navigation {
  position: relative;
  padding-top: 24px;
}

#menuToggle {
  display: block;
  position: relative;
  top: -30px;
  left: 50px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle .elements {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
      -ms-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
      -ms-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
      -ms-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
      -ms-transform: rotate(45deg) translate(-2px, -1px);
          transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
      -ms-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
      -ms-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  -webkit-transform-origin: 0% 0%;
      -ms-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

* {
  font-family: "Open Sans", sans-serif;
}

@media (min-width: 768px) {
  .navigation {
    display: none;
  }
  #menuToggle {
    display: none;
  }
  .mobile {
    display: none;
  }
}

@media (min-width: 3860px) and (max-width: 1400px) {
  .assistance-pics__image {
    min-width: 900px;
    width: 100%;
  }
}

@media (max-width: 2560px) {
  .assistance-box {
    grid-gap: 60px;
    grid-template-columns: 1fr minmax(900px, 1fr);
  }
  .assistance-info {
    padding-right: 80px;
  }
}

@media (max-width: 1600px) {
  .assistance-box {
    grid-template-columns: 1fr 1fr;
  }
  .assistance-info {
    padding-right: 60px;
  }
}

@media (max-width: 1300px) {
  .assistance-info {
    padding-right: 0;
  }
}

@media (max-width: 1080px) {
  .nav {
    padding: 18px 24px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 986px) {
  .contact-items {
    gap: 24px;
  }
  .contact-items__info {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact-items__email .form-email__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-items__email .form-email__box--name {
    max-width: 100%;
    width: auto;
  }
  .contact-items__email .form-email__box--email {
    max-width: 100%;
    width: auto;
  }
  .braino-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .braino-card__item {
    margin-bottom: 0;
    min-height: 100%;
    max-width: 460px;
  }
}

@media (max-width: 768px) {
  .nav {
    padding: 18px 24px 0 24px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    display: none;
  }
  .nav-menu__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-menu__links--item-ul {
    top: 39px;
    left: 0;
  }
  .nav-menu__links--item-ul .link-item::before {
    top: 24px;
  }
}

@media (max-width: 568px) {
  .navigation {
    padding-right: 14px;
  }
  #menuToggle .elements {
    width: 24px;
    height: 2px;
  }
}

@media (max-width: 460px) {
  #menuToggle {
    left: 24px;
  }
}

@media (max-width: 380px) {
  #menu {
    padding-right: 0;
    max-width: 254px;
  }
}

@media (max-width: 368px) {
  .mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
}

@media (max-width: 300px) {
  .nav-menu__logo {
    max-width: 200px;
  }
}